.following {
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem 20px;
  cursor: pointer;
}

.following-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.following-name {
  font-size: 12px;
  text-align: center;
}
